<h1>Edit Vehicle</h1>

<%= form_for :garage, url: garage_path(@garage), method: :patch do |f| %>

  <% if @garage.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@garage.errors.count, "error") %> prohibited
        this vehicle from being saved:
      </h2>
      <ul>
        <% @garage.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :make %><br>
    <%= f.text_field :make %>
  </p>

  <p>
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </p>

  <p>
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </p>

  <p>
    <%= f.submit "Update Vehicle" %>
  </p>

<% end %>

<%= link_to 'Back to Garage', garage_index_path %>
