
<p>
  <strong>Make:</strong>
  <%= @garage.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @garage.model %>
</p>
<p>
  <strong>Year:</strong>
  <%= @garage.year %>
</p>
<%= link_to 'Edit', edit_garage_path(@garage) %> 
<%= link_to 'Back to Garage', garage_index_path %>
